<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>One Time Secret</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="subtitle">
      <p>
          @if(valid === 1)
            {{ secret_string(mesg) }}
          @else
            Sorry this secret is no longer available
          @endif
      </p>
    </div>
  </section>
</body>
</html>
