<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>One Time Secret</title>
  {{ style('style') }}

  <style>
    input {
      margin-left: 0px;
      width: 97%;
    }
    body {
      background-color: #34495e;
      background-size: 1500px, 1500px;
      background-position: center;
    }
    input {
      border-radius: 0px;
      color: black;
      font-weight: 800;
    }
    .mt-3 {
      margin-top: .75rem;
    }
    </style>
</head>
<body style="background-image:url('undraw_share_link_qtxe.svg'); background-repeat: no-repeat;">
  <section>
    <div class="header">
    <h1>Link Shortener</h1>
    <br>
    <p>Check out my other tool, a simple/free <a href="/l">Self destructing message generator</a></p>
    </div>
    @if(flashMessage('error'))
    <h1 style="text-align:center;">{{ flashMessage('error') }}</h1>
      @endif
      @if(flashMessage('linkUrl'))
        <h1 style="text-align:center;">Your one time link is: <br><strong>{{ flashMessage('linkUrl') }}</strong></h1>
      @else

    <div class="subtitle">
      <h2>Enter the url you would like to have shortened</h2>

      <p>
        We will generate a shortened link for you.  
      </p>
      <div class="my-5"></div>

        <form method="POST" action="/s">
          {{ csrfField() }}
          <input type="url" name="short" placeholder="Super long and annoying URL" value="{{ old('short', '') }}" />
          <br>
          <div class="captcha">
            <img src="/captcha/{{ ts }}" />
            <input type="text" name="captcha" placeholder="Solve the Captcha" required style="border-left:15px solid #34495e;"/>
            <input type="hidden" name="ts" value="{{ ts }}" />
          </div>
          <br>
          <input type="hidden" name="tool" value="shortener" />
          <button type="submit" class="btn-submit mt-3" value="submit">Submit</button>

        </form>
        @endif
        @if(flashMessage('error'))
          <p><strong>{{ flashMessage('error') }}</strong></p>
        @endif
        <div class="my-5"></div>
        <div class="footer mt-5">

        <p><small>Check the <strong><a href="https://github.com/enxoco/one-time-secret">source code</a></strong>.<br/>I don't store or collect any personal or identifyable information.<br>I only keep a record of the number of times the service has been used.<br />Copyright 2020 <a href="https://liveinaterminal.com">Mike Conrad</a></small></p>
        </div>
      </div>
  </section>

</body>
</html>
